body {
	font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
*, *::before, *::after{
	box-sizing: border-box;
}
i {
  vertical-align: bottom;
}
img{
  vertical-align: middle;
  object-fit: cover;
}