.product-sm {
  display: none !important;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.product-lg {
  display: block;
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
